<%- include ('partials/header') -%>

<p>
    <%= campground.name %> 
</p>

<img style="border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;" src="<%= campground.image %> " alt="">
<p>
    <%=  campground.description %> 
</p>

<%- include ('partials/footer') -%>