<%- include ('../partials/header') -%>

<p>
    <%= campground.name %> 
</p>

<img style="border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;" src="<%= campground.image %> " alt="">
<p>
    <%=  campground.description %> 
</p>
<p>
  <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a>
</p>
<% campground.comments.forEach(function(comment) {  %>
  <p> <strong> <%= comment.author %> </strong></p>
  <p> 
     --- <%= comment.text %>  
 </p>
 <% }) %>

<%- include ('../partials/footer') -%>